<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Askme</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
</head>
<body>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<header>
  <div class="page-header">
    <h1>Askme <small>Question-answer service</small></h1>
  </div>
</header>
<div class="container">
  <div class="main-area">
      <%= yield %>
  </div>
</div>
</body>
</html>